* {
    margin: 0;
    padding: 0;
    font-family: 'Inter', sans-serif;
    transition: all 0.5s;
}

:root {
    --primary: #DD203C;
    --text: #272727;
    --hover: #b22f43;
}

img {
    max-width: 100%;
}

.barra-lateral {
    background-color: var(--primary);
    width: 40px;
    height: 100%; 
    position: absolute;
    top: 0px; left: 0px;
}

.conteudo {
    height: 100vh;
    width: calc(100% - 40px);
    margin-left: 40px;
    text-align: center;

    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

.conteudo .logo h1 {
    font-size: 5em;
    color: var(--text);
    font-weight: bold;
    text-transform: uppercase;
    text-shadow: 2px 4px 11px #00000063;
}

.conteudo .logo img {
    margin-bottom: -30px;
}

.busca {
    display: flex;
    justify-content: center;
    align-items: flex-end;
    width: calc(100% - 60px);
    padding: 30px;
}

.busca button {
    background-color: var(--primary);
    border: none; 
    width: 50px;
    height: 50px;
    border-radius: 100%;
    cursor: pointer;
}

.busca button:hover {
    background-color: var(--hover);
}

.busca button img {
    width: 15px;
}

.busca input {
    border: none;
    border-bottom: 2px solid var(--text);
    color: var(--text);
    font-size: 1.2em;
    padding: 7px;
    width: 100%;
    max-width: 700px;
    outline: none;
}

.busca input:focus {
    border-color: var(--primary);
}

.conteudo .senai {
    max-width: 100px;
}


@media (max-width: 500px) {
    .conteudo .logo h1 {
        font-size: 2em;
    }

    .conteudo .logo img {
        width: 100px;
        margin-bottom: 0px;
    }

    .busca button {
        width: 60px;
    }
}